@page "/Favorites"
@using ApiDuelMonster.Data
@inject CardApi api

<h3>Favorites</h3>

@if (api.Favorites.Count() > 0)
{
	@foreach(var card in api.Favorites)
	{
		<div>
			<p>ID : @card.Id</p>
			<p>Name : @card.Name</p>
			<p>Race : @card.Race</p>
			<p>Type : @card.Type</p>
			<p>Quantity : @card.Quantity</p>
			<p>Description : @card.Desc</p>
			<p><img src="@card.Image" alt="Carte" /></p>

			<p>
				<button @onclick="() => AddQuantity(card)">Add Quantity</button>
				<button @onclick="() => DelQuantity(card)">Delete Quantity</button>
				<button @onclick="() => RemoveFavs(card)">Remove Favorites</button>
			</p>
		</div>
	}
}
else
{
	<p>No favorites yet !</p>
}



@code {
	private void AddQuantity(Card card)
	{
		api.AddQuantity(card);
	}

	private void DelQuantity(Card card)
	{
		api.DelQuantity(card);
	}

	private void RemoveFavs(Card card)
	{
		api.RemoveFavs(card);
	}
}
