@page "/"
@using ApiDuelMonster.Data
@using System.Text.Json
@inject CardApi api

<PageTitle>Home</PageTitle>

<h1>API de carte Duel Monsters</h1>

@if(api.CurrentCarte != null)
{
	<p>ID : @api.CurrentCarte.Id</p>
	<p>Name : @api.CurrentCarte.Name</p>
	<p>Race : @api.CurrentCarte.Race</p>
	<p>Type : @api.CurrentCarte.Type</p>
	<p>Description : @api.CurrentCarte.Desc</p>
	<p><img src="@api.CurrentCarte.Image" alt="Carte" /></p>

}

<p>
	<button @onclick="GetCarte">Check</button>
	<button @onclick="AddFavs">Add Card</button>
</p>

<p>
	@AddingSuccess
</p>




@code
{
	private string AddingSuccess;

	private void AddFavs()
	{
		if(api.AddFavs())
		{
			AddingSuccess = "Card added to Favorites !";
		}
		else
		{
			AddingSuccess = "Error with adding ! Card already in the Favorites";
		}
	}

	private async Task GetCarte()
	{
		await api.GetCarte();
		
	}


	
}
